BasedOnStyle: Google
Language: Cpp
ColumnLimit: 100
IndentWidth: 2
TabWidth: 2
UseTab: Never
AccessModifierOffset: -1
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
IncludeBlocks: Regroup
SortIncludes: CaseSensitive
Standard: c++17
